/**
 * Skeleton V2.0.4 Copyright 2014, Dave Gamache www.getskeleton.com Free to use
 * under the MIT license. http://www.opensource.org/licenses/mit-license.php
 * 12/29/2014
 */

/**
 * Table of contents ––––––––––––––––––––––––––––––––––––––––––––––––––
 * - Grid
 * - Base Styles
 * - Typography
 * - Links
 * - Buttons
 * - Forms
 * - Tables
 * - Spacing
 * - Utilities
 * - Clearing
 */

/* Grid –––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  box-sizing : border-box;
  position   : relative;
  width      : 50vw;
  /* max-width  : 50vw; */
  margin     : 0 auto;
  min-height: 100vh;
}

.column,
.columns {
  box-sizing : border-box;
  width      : 100%;
  float      : left;
}


/* For devices larger than 550px */

@media

  .column,
  .columns {
    margin-left : 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left : 0;
  }

  .one.column,
  .one.columns {
    width : 4.66666666667%;
  }

  .two.columns {
    width : 13.3333333333%;
  }

  .three.columns {
    width : 22%;
  }

  .four.columns {
    width : 30.6666666667%;
  }

  .five.columns {
    width : 39.3333333333%;
  }

  .six.columns {
    width : 48%;
  }

  .seven.columns {
    width : 56.6666666667%;
  }

  .eight.columns {
    width : 65.3333333333%;
  }

  .nine.columns {
    width : 74.0%;
  }

  .ten.columns {
    width : 82.6666666667%;
  }

  .eleven.columns {
    width : 91.3333333333%;
  }

  .twelve.columns {
    width       : 100%;
    margin-left : 0;
  }

  .one-third.column {
    width : 30.6666666667%;
  }

  .two-thirds.column {
    width : 65.3333333333%;
  }

  .one-half.column {
    width : 48%;
  }
  /* Offsets */

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left : 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left : 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left : 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left : 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left : 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left : 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left : 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left : 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left : 78.0%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left : 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left : 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left : 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left : 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left : 52%;
  }
}

/* Base Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */

/**
 * NOTE html is set to 62.5% so that all the REM measurements throughout
 * Skeleton are based on 10px sizing. So basically 1.5rem = 15px :)
 */

html {
  font-size : 62.5%;
}

body {
  color            : #fff;
  /* background-color : #222; */
  font-family      : "Apercu",
                     "Lato",
                     "Droid Sans",
                     sans-serif;
  font-size        : 0.8616047388260636vh;
  font-weight      : 400;
  line-height      : 1.6;
  /* currently ems cause chrome bug misinterpreting rems on body element */
}

/* Typography –––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top    : 0;
  margin-bottom : 2rem;
  font-weight   : 300;
}

h1 {
  font-size      : 2.154011847065159vh;
  line-height    : 1.2;
  letter-spacing : -0.09259259259259259vw;
}

h2 {
  font-size      : 1.938610662358643vh;
  line-height    : 1.25;
  letter-spacing : -0.09259259259259259vw;
}

h3 {
  font-size      : 1.615508885298869vh;
  line-height    : 1.3;
  letter-spacing : -0.09259259259259259vw;
}

h4 {
  font-size      : 1.2924071082390953vh;
  line-height    : 1.35;
  letter-spacing : -0.07407407407407407vw;
}

h5 {
  font-size      : 0.9693053311793215vh;
  line-height    : 1.5;
  letter-spacing : -0.046296296296296294vw;
}

h6 {
  font-size      : 0.8077544426494345vh;
  line-height    : 1.6;
  letter-spacing : 0;
}

/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color : #1EAEDB;
}

a:hover {
  color : #0FA0CE;
}

/* Tour Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */

div.padding {
  display     : block;
  position    : relative;
  width       : 70%;
  margin      : 0 auto;
  padding-top : 20%;
}


body#miracles .center-view img {
  border     : none;
}

div.center-view {
  display  : block;
  position : relative;
  margin   : 0 auto;
}

div.center-view h4 {
  margin-bottom : 4.5vh;
  font-size     : 4.5vh;
  text-align: center;
}

ul a {
  color : #fff;
}

ul a:hover {
  color : #fff;
}

dl {
  display  : block;
  position : relative;
  width    : 100%;
  float    : left;
  clear    : left;
  margin   : 1.0863661053775122vh 0;
}

dl dt {
  display      : block;
  position     : relative;
  float        : left;
  margin-right : 2.7777777777777777vw;
}

dl dt img {
  width  : 8vw;
  height : 8vw;
}

dl dt img.mis_image {
  border        : .25vw solid #fff;
  border-radius : 50%;
}

dl dt img.mir_image {
  border: .25vw solid rgba(0,0,0,0);
}

dl dd.meta {
  text-transform : uppercase;
  font-size      : 0.6462035541195477vh;
  letter-spacing : .15em;
}

dl dd.name {
  font-size   : 1.2116316639741518vh;
  line-height : 1em;
}

div.avatar {
  padding-bottom : 2vh;
  text-align    : center;
  position      : sticky;
  top: 0;
}

.detail div.avatar img {
  width         : 15vh;
  border-width  : .5vh;
  border-style  : solid;
  border-color  : transparent;
}

.detail_mis div.avatar img {
  border-color  : #fff;
  border-radius : 50%;
}

button.main {
  display: inline-block;
      width: 50vw;
      height: 7vh;
      border: none;
      border-radius: 7.5vh;
      background-color: #fff;
      font-size: 3vh;
}

div.main {
  margin      : 33vh auto 0 auto;
  padding-top : 0;
  text-align  : center;
}

.index {
  padding-top: 25vh;
  text-align: center;
}

.index img {
  margin: 0 auto 7.5vh;
  height: 7.5vh;
  text-align: center;
}

.touch-one {
    font-size: 1.5vh;
    margin-top: 5vh;
}

div.main img {
  height : 15vw;
}

body.detail .meta {
  text-transform : uppercase;
}

body.detail p {
  font-family : "Droid Serif",
                georgia,
                serif;
                font-size   : 1.0770059235325795vh;
  list-style  : none;
}

body.detail .center-view {
  padding-top : 10%;
}

.detail-header {
  /* position: fixed; */
  /* top: 10%; */
  z-index : 1;
  left    : 38%;
  margin  : 0 auto;
  background: transparent;
  padding-top: 5vh;
  position: sticky;
  top: 0vh;
}

.detail-header img {
  text-align : center;
}

.detail-content {
  z-index : 100;
}

.detail-content.main-content {
    min-height: 50vh;
    position: sticky;
    /* top: 60vh; */
    overflow-y: scroll;
    height: 62.55vh;
}

.detail-content p {
  font-family : "Droid Serif",
                georgia,
                serif;
  font-size   : 1.155vh;
  line-height : 1.7em;
  padding: 0 1px
}

.header-content {
  text-align : center;
}

.header-content .name {
  margin-bottom : 0;
  font-size     : 2vh;
}

.header-content .meta {
  margin-bottom  : 0;
  padding-bottom : 1vh;
  border-bottom  : 1px solid;
  font-family    : "Apercu",
                   "Lato",
                   "Droid Sans",
                   sans-serif;
  font-size      : 1.155vh;
  font-weight    : 100;
  font-variant   : all-small-caps;
  letter-spacing : .15rem;
  margin-top: 0;
}

sup {
  font-size : 1rem;
}

.ico-volume-off {
  width            : 40px;
  height           : 40px;
  background-image : url(../images/ico-volume-off) 0 0 no-repeat;
}

.ico-volume-on {}

.bottom-logo {
  position: sticky;
  bottom: 0px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: 0 auto;
  text-align: center;
  border-top: 1px #fff solid;
}

.bottom-logo img {
  width: 3vh
}

/* Buttons –––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display          : inline-block;
  box-sizing       : border-box;
  height           : 2.0640956002172732vh;
  padding          : 0 2.7777777777777777vw;
  color            : #333333;
  border-radius    : 3vh;
  background-color : transparent;
  text-align       : center;
  text-decoration  : none;
  text-transform   : none;
  /* font-size        : 11px; */
  font-weight      : 600;
  /* line-height      : 38px; */
  /* letter-spacing   : .1rem; */
  white-space      : nowrap;
  cursor           : pointer;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  color        : #333;
  border-color : #888;
  outline      : 0;
}

.button.button-primary,
button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary {
  color            : #FFF;
  border-color     : #33C3F0;
  background-color : #33C3F0;
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type="button"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:hover {
  color            : #FFF;
  border-color     : #1EAEDB;
  background-color : #1EAEDB;
}

/* Lists –––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style : none;
}

ol {
  list-style : decimal inside;
}

ol,
ul {
  margin-top   : 0;
  padding-left : 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin    : 0.8147745790331342vh 0 0.8147745790331342vh 1vw;
  font-size : 90%;
}

li {
  margin-bottom : 4.714285714285715vh;
}

/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  margin-bottom : 0.5431830526887561vh;
}

fieldset,
input,
select,
textarea {
  margin-bottom : 0.8147745790331342vh;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom : 1vh;
}

/* Utilities –––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
  box-sizing : border-box;
  width      : 100%;
}

.u-max-full-width {
  box-sizing : border-box;
  max-width  : 100%;
}

.u-pull-right {
  float : right;
}

.u-pull-left {
  float : left;
}

/* Misc –––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
  margin-top    : 3rem;
  margin-bottom : 3.5rem;
  border-top    : 1px solid #E1E1E1;
  border-width  : 0;
}

/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
  content : "";
  display : table;
  clear   : both;
}
